{% extends "shop/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
  The Shoppee | Login
{% endblock %}

{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-15 p-b-20">
            <form class="login100-form validate-form" method="POST">
                {% csrf_token %}
                <span class="login100-form-title p-b-45">
                    Login
                </span>
                <span class="login100-form-avatar">
                    <img src="{% static "images/avatar-01.jpg" %}" alt="AVATAR">
                </span>

                <div class="wrap-input100 validate-input m-t-35 m-b-35" data-validate = "Enter username">
                    
                    {% render_field form.username class="input100" %}
                    <span class="focus-input100" data-placeholder="Username"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                    
                    {% render_field form.password class="input100" type="password" name="pass" %}
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>
                {% for message in messages %}
                <span class="txt2 login-more p-t-1 ">
                    {{ message }}
                    
                </span>
                {% endfor %}
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Login
                    </button>
                </div>

            </form>
                <ul class="login-more p-t-30">
                    <li class="m-b-8">
                        <span class="txt1">
                            Don’t have an account?
                        </span>
                        <a href="{% url 'users:signup' %}" class="txt2">SignUp</a>
                        
                    </li>
                </ul>
            
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

{% endblock %}
