{% extends "shop/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
  The Shoppee | Change Password
{% endblock %}

{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-15 p-b-20">
            <form class="login100-form validate-form" method="POST">
                {{form.non_field_errors}}
                {% csrf_token %}
                <span class="login100-form-title p-b-45">
                    Change Password
                </span>
                {% for field in form%}
                <div class="wrap-input100 validate-input m-t-35 m-b-35" >                    
                    {% render_field field class="input100" %}
                    <span class="focus-input100" data-placeholder="{{ field.label }}"></span>
                </div>
                {% if field.errors %}
                <span class="txt2 login-more p-t-1 ">
                    {{ field.errors }}
                </span>
                {% endif %}
                {% endfor %}


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Change Password
                    </button>
                </div>
            </form>
            
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

{% endblock %}